.markings a {
	color: var(--gray-400) !important;
	text-decoration: underline dotted;
	transition: 250ms all;
}
.markings a:hover {
	text-decoration-color: var(--blue-300);
}
.d-flex .btn {
	flex-grow: 1;
}
.flex-gap {
	gap: 20px;
}
.card {
	border-color: var(--dark);
}
.searchContent .item {
	width: calc(33% - 10px);
	background-color: rgba(255,255,255,0.05);
	border: 0;
	border-radius: 20px;
}
.card-header {
	background-color: var(--dark);
	font-weight: 700;
	font-size: 18px;
}
.card.item h4 {
	text-transform: unset;
}
.rarity-indicator {
	width: 25px;
	aspect-ratio: 1;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
}

.base-card-container .card {
	width: calc(25% - 20px);
}
.base-card-container .card img {
	max-height: 150px;
	object-fit: contain;
}