.markings a {
	color: var(--gray-400) !important;
	text-decoration: underline dotted;
	transition: 250ms all;
}
.markings a:hover {
	text-decoration-color: var(--blue-300);
}
.d-flex .btn {
	flex-grow: 1;
}
.flex-gap {
	gap: 20px;
}
.card {
	border-color: var(--dark);
}
.searchContent .item {
	width: calc(33% - 10px);
	background-color: rgba(255,255,255,0.05);
	border: 0;
	border-radius: 20px;
}
.card-header {
	background-color: var(--dark);
	font-weight: 700;
	font-size: 18px;
}
.card.item h4 {
	text-transform: unset;
}
.rarity-indicator {
	width: 25px;
	aspect-ratio: 1;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
}

.base-card-container .card {
	width: calc(25% - 20px);
}
.base-card-container .card img {
	max-height: 150px;
	object-fit: contain;
}
.bg-soft {
	background-color: rgba(255,255,255,0.05);
}
.carrier-card.card h5 {
	background-color: var(--gray-dark);
}

/* ATTRIBUTES */
.card {
	overflow: hidden;
}
.card.rounded {
	border-radius: 20px !important;
}
.card-header {
	background-color: var(--dark);
}
.flex-gap {
	gap: 10px;
}
.card.bg-secondary, .col.bg-secondary {
	background-color: var(--gray-800) !important;
}
.attribute {
	width: 50px;
	aspect-ratio: 1;
	border: 1px solid var(--gray-600);
	border-radius: 10px;
	position: relative;
}
.color-black {
	background-color: #0c0c0c;
}
.color-darker {
	background-image: linear-gradient(135deg,rgba(84, 55, 40, 1) 48%, rgba(158, 97, 51, 1) 50%);
}
.color-black-white {
	background-image: linear-gradient(135deg,#0c0c0c 48%, #e1e1e1 50%);
}
.effect-overlay::after {
	content: "";
	display: block;
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
}
.dark-grad-overlay::after {
	background: linear-gradient(45deg,rgba(84, 43, 17, 0) 0%, rgba(84, 43, 17, 1) 100%);
	mix-blend-mode: multiply;
	opacity: 0.7;
}
.color-white {
    background-color: #E1E1E1;
}
.color-lighter {
    background-image: linear-gradient(135deg,rgb(211, 167, 113) 48%, rgba(158, 97, 51, 1) 50%);
}
.light-grad-overlay::after {
	background: linear-gradient(45deg,rgba(84, 43, 17, 0) 30%, rgb(255, 255, 255) 100%);
    mix-blend-mode: screen;
    opacity: 0.5;
}
.color-any {
    background-image: linear-gradient(135deg,red, orange, yellow, green, blue, indigo, violet, red);
}.color-nat-slider {
    background-image: linear-gradient(135deg,
		#624549 0%, #624549 10%,
		#8F818A 10%, #8F818A 20%,
		#D79D77 20%, #D79D77 30%,
		#D9A44E 30%, #D9A44E 40%,
		#86391C 40%, #86391C 50%,
		#B2835C 50%, #B2835C 60%,
		#4A2F1D 60%, #4A2F1D 70%,
		#817569 70%, #817569 80%,
		#795835 80%, #795835 90%,
		#B4A997 90%, #B4A997 100%
	);
}
.attribute[data-color] {
	background: attr(data-color type(<color>), gray);
}
/* Edges */
.edge-hard {
	background-image: linear-gradient(135deg,#5f5f5f 48%, #9f9f9f 50%);
}
.edge-soft {
	background-image: linear-gradient(135deg,#5f5f5f 40%, #9f9f9f 55%);
}
.edge-jagged {
	background-image: linear-gradient(135deg,#5f5f5f 48%, #9f9f9f 50%);
}
.edge-gradient {
    background-image: linear-gradient(135deg,#5f5f5f 20%, #9f9f9f 80%);
}
.edge-jagged {
    background:#5f5f5f;
}
.edge-mottled,
.edge-textured,
.edge-organic {
	background-size: 100%;
	background-position: center;
}
.edge-mottled {
	background-image: url(http://localhost/images/mottled-edge.png);
}
.edge-textured {
	background-image: url(http://localhost/images/textured-edge.png);
}
.edge-organic {
	background-image: url(http://localhost/images/organic-edge.png);
}
.edge-furred,
.edge-feathered {
	background: #9f9f9f;
}
.edge-jagged::after {
	clip-path: polygon(2% 100%, 6% 88%, 8% 61%, 17% 63%, 38% 74%, 46% 52%, 45% 45%, 47% 42%, 53% 41%, 57% 43%, 67% 47%, 83% 35%, 82% 27%, 89% 9%, 100% 0%, 100% 100%);
}
.edge-path::after {
	content: "";
	background-color: #9f9f9f;
	border-radius: inherit;
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.edge-furred::after {
	background-color: #5f5f5f;
	clip-path: polygon( 0% 0%,100% 0%,100% 44%,100% 44%,98.923% 43.388%,97.854% 42.754%,96.792% 42.097%,95.741% 41.421%,94.7% 40.725%,93.671% 40.011%,92.656% 39.281%,91.654% 38.534%,90.669% 37.774%,89.7% 37%,89.7% 37%,89.166% 36.604%,88.643% 36.197%,88.131% 35.779%,87.63% 35.35%,87.138% 34.913%,86.654% 34.466%,86.18% 34.01%,85.713% 33.547%,85.253% 33.077%,84.8% 32.6%,84.8% 32.6%,84.723% 32.523%,84.564% 32.365%,84.346% 32.148%,84.088% 31.894%,83.813% 31.625%,83.54% 31.362%,83.292% 31.126%,83.088% 30.939%,82.951% 30.823%,82.9% 30.8%,82.9% 30.8%,82.837% 31.15%,82.874% 31.586%,82.994% 32.083%,83.175% 32.621%,83.4% 33.175%,83.649% 33.723%,83.902% 34.243%,84.142% 34.71%,84.347% 35.104%,84.5% 35.4%,84.5% 35.4%,85.168% 36.615%,85.906% 37.8%,86.709% 38.955%,87.567% 40.08%,88.475% 41.175%,89.425% 42.24%,90.409% 43.275%,91.422% 44.28%,92.454% 45.255%,93.5% 46.2%,93.5% 46.2%,93.836% 46.497%,94.181% 46.79%,94.533% 47.078%,94.89% 47.365%,95.25% 47.65%,95.61% 47.935%,95.967% 48.222%,96.319% 48.51%,96.664% 48.803%,97% 49.1%,84.2% 54%,84.2% 54%,81.233% 52.587%,78.393% 50.892%,75.68% 48.951%,73.094% 46.8%,70.638% 44.475%,68.31% 42.012%,66.111% 39.447%,64.043% 36.816%,62.106% 34.155%,60.3% 31.5%,60.3% 31.5%,59.835% 30.735%,59.086% 29.435%,58.123% 27.744%,57.017% 25.806%,55.838% 23.763%,54.655% 21.758%,53.54% 19.937%,52.562% 18.441%,51.792% 17.414%,51.3% 17%,51.3% 17%,51.176% 16.977%,51.098% 17.021%,51.061% 17.12%,51.055% 17.262%,51.075% 17.438%,51.113% 17.634%,51.161% 17.839%,51.214% 18.043%,51.262% 18.234%,51.3% 18.4%,51.3% 18.4%,51.525% 19.417%,51.776% 20.429%,52.052% 21.436%,52.348% 22.438%,52.663% 23.438%,52.992% 24.434%,53.334% 25.427%,53.684% 26.419%,54.041% 27.41%,54.4% 28.4%,54.4% 28.4%,55.275% 30.709%,56.166% 33.012%,57.086% 35.303%,58.043% 37.576%,59.05% 39.825%,60.117% 42.044%,61.254% 44.227%,62.474% 46.368%,63.785% 48.461%,65.2% 50.5%,65.2% 50.5%,65.797% 51.226%,66.494% 51.962%,67.274% 52.709%,68.115% 53.463%,69% 54.225%,69.909% 54.993%,70.822% 55.765%,71.722% 56.542%,72.587% 57.32%,73.4% 58.1%,59.3% 63.5%,59.3% 63.5%,58.935% 63.263%,58.562% 63.032%,58.188% 62.807%,57.815% 62.588%,57.45% 62.375%,57.097% 62.168%,56.76% 61.967%,56.446% 61.772%,56.157% 61.583%,55.9% 61.4%,55.9% 61.4%,54.587% 60.308%,53.29% 59.19%,52.013% 58.047%,50.761% 56.875%,49.538% 55.675%,48.347% 54.445%,47.194% 53.183%,46.082% 51.89%,45.016% 50.562%,44% 49.2%,44% 49.2%,43.505% 48.507%,43.036% 47.808%,42.592% 47.103%,42.168% 46.392%,41.763% 45.675%,41.372% 44.952%,40.994% 44.223%,40.624% 43.488%,40.261% 42.747%,39.9% 42%,39.9% 42%,39.852% 41.843%,39.721% 41.52%,39.525% 41.078%,39.282% 40.56%,39.013% 40.013%,38.734% 39.48%,38.464% 39.008%,38.223% 38.64%,38.029% 38.423%,37.9% 38.4%,37.9% 38.4%,37.667% 38.848%,37.605% 39.551%,37.682% 40.445%,37.866% 41.466%,38.125% 42.55%,38.426% 43.634%,38.736% 44.655%,39.023% 45.549%,39.255% 46.252%,39.4% 46.7%,39.4% 46.7%,40.096% 48.789%,40.865% 50.905%,41.707% 53.034%,42.622% 55.162%,43.613% 57.275%,44.678% 59.358%,45.818% 61.396%,47.035% 63.375%,48.329% 65.281%,49.7% 67.1%,25.8% 76.2%,25.8% 76.2%,24.495% 75.015%,23.222% 73.797%,21.983% 72.544%,20.779% 71.254%,19.613% 69.925%,18.485% 68.554%,17.398% 67.138%,16.354% 65.675%,15.354% 64.163%,14.4% 62.6%,14.4% 62.6%,13.785% 61.514%,13.198% 60.417%,12.637% 59.309%,12.101% 58.19%,11.588% 57.063%,11.095% 55.926%,10.622% 54.78%,10.166% 53.627%,9.726% 52.467%,9.3% 51.3%,9.3% 51.3%,9.177% 50.845%,9.049% 50.291%,8.916% 49.682%,8.778% 49.062%,8.637% 48.475%,8.494% 47.966%,8.347% 47.58%,8.199% 47.361%,8.05% 47.353%,7.9% 47.6%,7.9% 47.6%,7.405% 49.864%,7.371% 52.402%,7.726% 55.137%,8.398% 57.987%,9.312% 60.875%,10.398% 63.721%,11.583% 66.445%,12.793% 68.97%,13.956% 71.214%,15% 73.1%,15% 73.1%,15.336% 73.694%,15.684% 74.278%,16.044% 74.851%,16.416% 75.417%,16.8% 75.975%,17.196% 76.527%,17.604% 77.075%,18.024% 77.618%,18.456% 78.16%,18.9% 78.7%,18.9% 78.7%,18.901% 78.701%,18.904% 78.704%,18.909% 78.709%,18.916% 78.716%,18.925% 78.725%,18.936% 78.736%,18.949% 78.749%,18.964% 78.764%,18.981% 78.781%,19% 78.8%,-0% 86% );
}
.edge-feathered:after {
	background-color: #5f5f5f;
	clip-path: polygon( 11.6% 95.3%,11.6% 95.3%,12.207% 92.785%,12.714% 90.225%,13.126% 87.63%,13.453% 85.01%,13.7% 82.375%,13.875% 79.734%,13.986% 77.096%,14.038% 74.471%,14.041% 71.869%,14% 69.3%,14% 69.3%,13.95% 68.693%,13.818% 67.768%,13.63% 66.609%,13.411% 65.3%,13.188% 63.925%,12.985% 62.568%,12.829% 61.313%,12.746% 60.244%,12.761% 59.445%,12.9% 59%,12.9% 59%,12.964% 59.051%,13.085% 59.243%,13.249% 59.542%,13.442% 59.914%,13.65% 60.325%,13.858% 60.742%,14.051% 61.132%,14.215% 61.461%,14.336% 61.695%,14.4% 61.8%,14.4% 61.8%,14.673% 62.433%,14.95% 63.07%,15.229% 63.712%,15.509% 64.355%,15.788% 65%,16.063% 65.645%,16.334% 66.288%,16.598% 66.93%,16.854% 67.567%,17.1% 68.2%,17.1% 68.2%,17.857% 70.527%,18.462% 72.885%,18.94% 75.268%,19.311% 77.67%,19.6% 80.088%,19.829% 82.514%,20.02% 84.943%,20.198% 87.371%,20.383% 89.792%,20.6% 92.2%,20.6% 92.2%,20.705% 93.083%,20.849% 94.069%,21.048% 95.092%,21.318% 96.086%,21.675% 96.988%,22.134% 97.73%,22.71% 98.247%,23.419% 98.475%,24.277% 98.348%,25.3% 97.8%,25.3% 97.8%,28.616% 94.903%,31.282% 91.493%,33.356% 87.664%,34.897% 83.51%,35.963% 79.125%,36.611% 74.602%,36.901% 70.034%,36.89% 65.515%,36.637% 61.139%,36.2% 57%,36.2% 57%,35.956% 55.244%,35.648% 53.514%,35.287% 51.806%,34.88% 50.115%,34.438% 48.438%,33.968% 46.769%,33.481% 45.105%,32.984% 43.442%,32.488% 41.775%,32% 40.1%,32% 40.1%,31.992% 40.023%,31.97% 39.917%,31.941% 39.788%,31.907% 39.642%,31.875% 39.488%,31.849% 39.33%,31.833% 39.175%,31.834% 39.031%,31.854% 38.904%,31.9% 38.8%,31.9% 38.8%,32.253% 38.976%,32.902% 39.715%,33.771% 40.885%,34.783% 42.354%,35.863% 43.988%,36.933% 45.654%,37.918% 47.222%,38.742% 48.557%,39.328% 49.527%,39.6% 50%,39.6% 50%,40.858% 52.587%,41.998% 55.242%,43.028% 57.955%,43.955% 60.715%,44.788% 63.513%,45.533% 66.337%,46.199% 69.178%,46.794% 72.026%,47.325% 74.87%,47.8% 77.7%,47.8% 77.7%,47.913% 78.713%,48.034% 79.992%,48.192% 81.422%,48.421% 82.884%,48.75% 84.263%,49.211% 85.44%,49.836% 86.3%,50.654% 86.724%,51.699% 86.597%,53% 85.8%,53% 85.8%,54.397% 84.328%,55.69% 82.279%,56.853% 79.785%,57.861% 76.978%,58.688% 73.988%,59.307% 70.946%,59.694% 67.986%,59.822% 65.237%,59.666% 62.831%,59.2% 60.9%,59.2% 60.9%,58.862% 60.285%,58.31% 59.594%,57.606% 58.847%,56.811% 58.063%,55.988% 57.263%,55.197% 56.465%,54.501% 55.69%,53.962% 54.958%,53.641% 54.288%,53.6% 53.7%,53.6% 53.7%,53.762% 53.649%,54.15% 53.821%,54.708% 54.162%,55.381% 54.618%,56.113% 55.138%,56.847% 55.666%,57.529% 56.149%,58.102% 56.535%,58.511% 56.77%,58.7% 56.8%,58.7% 56.8%,59.391% 55.629%,59.653% 54.203%,59.562% 52.59%,59.194% 50.858%,58.625% 49.075%,57.93% 47.31%,57.184% 45.632%,56.463% 44.109%,55.843% 42.809%,55.4% 41.8%,55.4% 41.8%,55.418% 41.732%,55.518% 41.702%,55.68% 41.697%,55.885% 41.709%,56.113% 41.725%,56.343% 41.735%,56.557% 41.729%,56.734% 41.694%,56.855% 41.622%,56.9% 41.5%,56.9% 41.5%,56.677% 39.586%,56.375% 37.683%,56.006% 35.791%,55.582% 33.91%,55.113% 32.038%,54.61% 30.174%,54.087% 28.32%,53.553% 26.473%,53.02% 24.633%,52.5% 22.8%,52.5% 22.8%,52.426% 22.508%,52.28% 22.026%,52.086% 21.401%,51.868% 20.685%,51.65% 19.925%,51.456% 19.171%,51.31% 18.473%,51.236% 17.878%,51.258% 17.438%,51.4% 17.2%,51.4% 17.2%,51.635% 17.335%,52.066% 17.858%,52.643% 18.68%,53.317% 19.707%,54.038% 20.85%,54.755% 22.017%,55.42% 23.116%,55.982% 24.058%,56.392% 24.749%,56.6% 25.1%,56.6% 25.1%,58.018% 27.603%,59.384% 30.185%,60.691% 32.834%,61.928% 35.538%,63.088% 38.288%,64.16% 41.07%,65.137% 43.873%,66.008% 46.687%,66.766% 49.5%,67.4% 52.3%,67.4% 52.3%,67.501% 52.898%,67.681% 53.996%,67.934% 55.455%,68.254% 57.132%,68.638% 58.888%,69.078% 60.58%,69.569% 62.069%,70.107% 63.212%,70.686% 63.87%,71.3% 63.9%,71.3% 63.9%,71.858% 63.442%,72.388% 62.656%,72.889% 61.619%,73.356% 60.404%,73.788% 59.088%,74.18% 57.744%,74.531% 56.449%,74.836% 55.276%,75.094% 54.302%,75.3% 53.6%,75.3% 53.6%,76.295% 50.192%,77.071% 46.701%,77.642% 43.145%,78.022% 39.542%,78.225% 35.913%,78.266% 32.274%,78.16% 28.644%,77.921% 25.043%,77.563% 21.489%,77.1% 18%,77.1% 18%,76.894% 17.065%,76.498% 15.762%,75.971% 14.185%,75.377% 12.429%,74.775% 10.588%,74.227% 8.755%,73.795% 7.026%,73.538% 5.494%,73.52% 4.254%,73.8% 3.4%,73.8% 3.4%,73.864% 3.439%,73.985% 3.546%,74.149% 3.705%,74.342% 3.899%,74.55% 4.112%,74.758% 4.329%,74.951% 4.532%,75.115% 4.706%,75.236% 4.834%,75.3% 4.9%,75.3% 4.9%,76.191% 5.798%,77.062% 6.696%,77.914% 7.6%,78.743% 8.516%,79.55% 9.45%,80.333% 10.408%,81.09% 11.396%,81.822% 12.42%,82.525% 13.486%,83.2% 14.6%,83.2% 14.6%,84.26% 16.535%,85.222% 18.5%,86.09% 20.495%,86.869% 22.52%,87.563% 24.575%,88.175% 26.66%,88.711% 28.775%,89.174% 30.92%,89.569% 33.095%,89.9% 35.3%,89.9% 35.3%,89.96% 35.871%,90.023% 36.901%,90.091% 38.268%,90.166% 39.85%,90.25% 41.525%,90.346% 43.17%,90.457% 44.662%,90.585% 45.879%,90.732% 46.699%,90.9% 47%,90.9% 47%,92.504% 46.486%,94.058% 45.074%,95.536% 42.958%,96.913% 40.331%,98.163% 37.388%,99.259% 34.321%,100.177% 31.325%,100.89% 28.594%,101.373% 26.321%,101.6% 24.7%,101.6% 24.7%,101.647% 22.282%,101.448% 20.203%,101.033% 18.393%,100.432% 16.782%,99.675% 15.3%,98.792% 13.878%,97.813% 12.447%,96.768% 10.937%,95.687% 9.278%,94.6% 7.4%,94.6% 7.4%,94.472% 7.011%,94.7% 7.038%,95.217% 7.378%,95.952% 7.933%,96.838% 8.6%,97.804% 9.279%,98.783% 9.87%,99.704% 10.27%,100.5% 10.381%,101.1% 10.1%,101.1% 10.1%,101.644% 8.856%,101.709% 7.027%,101.373% 4.765%,100.714% 2.222%,99.813% -0.45%,98.746% -3.098%,97.592% -5.569%,96.431% -7.711%,95.341% -9.372%,94.4% -10.4%,94.4% -10.4%,91.13% -12.554%,87.439% -14.25%,83.417% -15.54%,79.154% -16.477%,74.738% -17.113%,70.258% -17.499%,65.806% -17.689%,61.469% -17.734%,57.337% -17.687%,53.5% -17.6%,53.5% -17.6%,49.213% -17.469%,44.933% -17.31%,40.66% -17.113%,36.394% -16.867%,32.138% -16.563%,27.89% -16.189%,23.651% -15.736%,19.423% -15.194%,15.206% -14.552%,11% -13.8%,11% -13.8%,9.225% -13.452%,7.348% -13.055%,5.411% -12.591%,3.456% -12.042%,1.525% -11.388%,-0.34% -10.61%,-2.097% -9.692%,-3.704% -8.613%,-5.119% -7.355%,-6.3% -5.9%,-6.3% -5.9%,-7.334% -4.106%,-8.173% -2.063%,-8.845% 0.173%,-9.378% 2.546%,-9.8% 5%,-10.138% 7.478%,-10.419% 9.923%,-10.671% 12.279%,-10.922% 14.49%,-11.2% 16.5%,-11.2% 16.5%,-12.09% 22.913%,-12.789% 29.364%,-13.309% 35.846%,-13.662% 42.348%,-13.863% 48.863%,-13.922% 55.38%,-13.852% 61.892%,-13.667% 68.388%,-13.379% 74.861%,-13% 81.3%,-13% 81.3%,-12.787% 84.034%,-12.41% 87.499%,-11.816% 91.431%,-10.947% 95.566%,-9.75% 99.638%,-8.169% 103.382%,-6.148% 106.536%,-3.634% 108.833%,-0.569% 110.009%,3.1% 109.8%,3.1% 109.8%,4.156% 109.213%,5.261% 108.081%,6.379% 106.536%,7.474% 104.71%,8.513% 102.738%,9.458% 100.75%,10.274% 98.879%,10.927% 97.259%,11.381% 96.022%,11.6% 95.3% );
}
.coverage {
	width: 35px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #000;
	margin-right: 10px;
	border: 1px solid var(--gray-700);
}
.coverage.min {
	background: #451811;
}
.coverage.max {
	background: #B22B0A;
}
.coverage.dom {
	background: #DF834C;
}
/* Coverage Tabs */
.ranges {
	background-color: var(--dark);
	border-radius: 35px;
}
.ranges .nav-link {
	border-radius: 35px;
	transition: 250ms all;
	border: 0;
	color: var(--gray-600);
}
.ranges .nav-link:hover {
	background-color: var(--gray-800);
	color: var(--white);
}
.ranges .nav-link.active {
	background-color: var(--cyan-600);
	color: var(--dark);
	
}
/*Carousels*/
.carousel-control-next, .carousel-control-prev {
	align-self: center;
	aspect-ratio: 1;
	width: 40px;
	border-radius: 10px;
	background-color: var(--gray-900);
	border: 0;
	transition: 250ms all;
	color: var(--white);
	margin: 0 20px;
	cursor: pointer;
}